<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    {% include '_navbar.html' %}

    <h1>{{ dashboard_title }}</h1>

    {% if employees %}
        <h2>{% if user.groups.all.0.name == 'Manager' %}My Employees{% else %}Managers{% endif %}</h2>
        <ul>
            {% for employee in employees %}
                <li><a href="{% url 'calendar_user' employee.username %}">{{ employee.username }}</a></li>
            {% empty %}
                <li>No users to display.</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if other_managers %}
        <h2>Other Managers</h2>
        <ul>
            {% for manager in other_managers %}
                <li>
                    {{ manager.username }}
                    - <a href="{% url 'calendar_user' manager.username %}">View Calendar</a>
                </li>
            {% empty %}
                <li>There are no other managers.</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>
