<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'calendar' %}">My Calendar</a>
            {% if user.is_superuser or user.groups.all.0.name == 'Administrator' or user.groups.all.0.name == 'Manager' %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
            {% if user.is_superuser or user.groups.all.0.name == 'Administrator' or user.groups.all.0.name == 'Manager' %}
                <a href="{% url 'create_user' %}">Create User</a>
            {% endif %}
            <span>Hi, {{ user.username }}!</span>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <h1>{{ dashboard_title }}</h1>
    <ul>
        {% for user_to_display in users_to_display %}
            <li><a href="{% url 'calendar_user' user_to_display.username %}">{{ user_to_display.username }}</a></li>
        {% empty %}
            <li>No users to display.</li>
        {% endfor %}
    </ul>
</body>
</html>
