<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Work Time Dashboard</title>
</head>
<body>
    {% include '_navbar.html' %}

    <h1>Welcome to the Employee Work Time Dashboard</h1>
    
    {% if user.is_authenticated %}
        <p>Welcome back, {{ user.username }}! Use the navigation links to view your calendar or log out.</p>
        <button id="timerBtn">Open Timer</button>
        {% if user.groups.all.0.name == 'Manager' %}
            <p>As a manager, you can access the <a href="{% url 'dashboard' %}">Dashboard</a> to view your employees and create new user accounts for them.</p>
        {% elif user.groups.all.0.name == 'Administrator' or user.is_superuser %}
            <p>As an administrator, you can access the <a href="{% url 'dashboard' %}">Dashboard</a> to view all managers and create new manager accounts.</p>
        {% endif %}
    {% else %}
        <p>This application helps you manage your work schedule and appointments.</p>
        <p>Please <a href="{% url 'login' %}">log in</a> to access your personal calendar. New user accounts can only be created by an authorized manager or administrator.</p>
    {% endif %}

    {% if user.is_authenticated %}
    <script>
        document.getElementById('timerBtn').addEventListener('click', function() {
            window.open("{% url 'timer' %}", 'Work Timer', 'height=400,width=600,top=100,left=100');
        });
    </script>
    {% endif %}

</body>
</html>
