<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Work Time Dashboard</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' %}">My Profile</a>
            <a href="{% url 'calendar' %}">My Calendar</a>
            {% if perms.webpage.view_event %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
            {% if perms.auth.add_user %}
                <a href="{% url 'create_user' %}">Create User</a>
            {% endif %}
            <span>Hi, {{ user.username }}!</span>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <h1>Welcome to the Employee Work Time Dashboard</h1>
    
    {% if user.is_authenticated %}
        <p>Welcome back, {{ user.username }}! Use the navigation links to view your calendar or log out.</p>
        {% if user.groups.all.0.name == 'Manager' %}
            <p>As a manager, you can access the <a href="{% url 'dashboard' %}">Dashboard</a> to view your employees and create new user accounts for them.</p>
        {% elif user.groups.all.0.name == 'Administrator' or user.is_superuser %}
            <p>As an administrator, you can access the <a href="{% url 'dashboard' %}">Dashboard</a> to view all managers and create new manager accounts.</p>
        {% endif %}
    {% else %}
        <p>This application helps you manage your work schedule and appointments.</p>
        <p>Please <a href="{% url 'login' %}">log in</a> to access your personal calendar. New user accounts can only be created by an authorized manager or administrator.</p>
    {% endif %}

</body>
</html>
